/*****----- Configuration -----*****/
configuration {
    modi:                   "drun, window";
    show-icons:             true;
    drun-display-format:    "{name}";
}

/*****----- Global Properties -----*****/
@import                     "shared/colors.rasi"
@import                     "shared/fonts.rasi"

/*****----- Main Window -----*****/
window {
    transparency:           "real";
    location:               center;
    anchor:                 center;
    fullscreen:             false;
    width:                  800px;
    x-offset:               0;
    y-offset:               0;
    
    margin:                 0;
    padding:                0;
    border:                 1px solid;
    border-radius:          0;
    border-color:           @border;
    background-color:       @background;
}

/*****----- Main Box -----*****/
mainbox {
    spacing:                10px;
    margin:                 0;
    padding:                30px;
    background-color:       transparent;
    children:               [ "inputbar", "message", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    spacing:                10px;
    margin:                 0;
    padding:                10px;
    border-radius:          10px;
    background-color:       @background-alt;
    text-color:             @foreground;
    children:               [ "textbox-prompt-colon", "entry" ];
}

prompt {
    background-color:       inherit;
    text-color:             inherit;
}
textbox-prompt-colon {
    padding:                0;
    expand:                 false;
    str:                    " ";
    background-color:       inherit;
    text-color:             inherit;
}
entry {
    padding:                0;
    background-color:       inherit;
    text-color:             inherit;
    cursor:                 text;
    placeholder:            "Pesquisar...";
    placeholder-color:      inherit;
}

/*****----- Listview -----*****/
listview {
    columns:                1;
    lines:                  7;
    cycle:                  true;
    dynamic:                true;
    scrollbar:              false;
    layout:                 vertical;
    fixed-height:           true;
    fixed-columns:          true;
    
    spacing:                5px;
    background-color:       transparent;
}
scrollbar {
    handle-width:           5px ;
    handle-color:           @selected;
    border-radius:          10px;
    background-color:       @background-alt;
}

/*****----- Elements -----*****/
element {
    spacing:                10px;
    margin:                 0;
    padding:                6px;
    border-radius:          0;
    background-color:       transparent;
    text-color:             @foreground;
    cursor:                 pointer;
}
element normal.normal,
element alternate.normal {
    background-color:       @background;
    text-color:             @foreground;
}
element normal.urgent,
element alternate.urgent,
element selected.active {
    background-color:       @background;  
    text-color:             @foreground;  
    border-radius:          10px;
    border-color:           @selected;
}
element normal.active,
element alternate.active,
element selected.urgent {
    background-color:       @background;  
    text-color:             @foreground;  
    border:                 2px;
    border-color:           @urgent;  
}
element selected.normal {
    background-color:       @background-alt;
    text-color:             @foreground;
    border-radius:          10px;
}

/*****----- Message -----*****/
message {
    margin:                 0;
    padding:                10px;
    border-radius:          0;
    background-color:       @background-alt;
    text-color:             @foreground;
}
textbox {
    background-color:       transparent;
    text-color:             @foreground;
    vertical-align:         0.5;
    horizontal-align:       0.0;
    highlight:              none;
    placeholder-color:      @foreground;
    blink:                  true;
    markup:                 true;
}
error-message {
    padding:                30px;
    background-color:       @background;
    text-color:             @foreground;
}
