@import 'colors.css';

* {
  font-family: FontAwesome, Symbols Nerd Font;
  font-size: 0.8rem;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces,
#tags {
  margin: 0;
}

#workspaces button,
#tags button {
  border-radius: 15px;
  margin-right: 0;
  padding: 0 7px;
  font-weight: bolder;
  color: @gray;
  background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused,
#tags button.occupied,
#tags button.focused {
  color: @light-beige;
}

#cpu,
#custom-clipboard,
#temperature,
#memory,
#keyboard-state,
#backlight,
#pulseaudio,
#custom-power,
#power-profiles-daemon,
#disk,
#network,
#bluetooth,
#battery,
#clock {
  padding: 0 8px;
  margin: 0;
  color: @light-beige;
}

#tray {
  padding: 0 8px;
  margin: 0;
  color: @light-beige;
}

#clock {
  font-weight: 500;
}

#custom-power {
  min-width: 30px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
}

#keyboard-state label.locked {
  color: @light-beige;
}

#temperature.critical {
  color: @dusty-pink;
}

#tray menu {
  color: @light-beige;
}

#tray > .active {
  color: @light-beige;
}

#tray > .passive {
  color: @gray;
}

#tray > .needs-attention {
  color: @dusty-pink;
}
