@import 'colors.css';
* {
  font-family: Symbols Nerd Font, FontAwesome;
  font-size: 14.5px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
}

#workspaces,
#tags {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

#workspaces button,
#tags button {
  border-radius: 15px;
  margin-right: 0px;
  padding: 0px 7px 0px 7px;
  font-weight: bolder;
  color: @gray;
  background-color: transparent;
}

#workspaces button.active,
#workspaces button.focused,
#tags button.occupied,
#tags button.focused {
  color: @light-beige;
}

#tray,
#cpu,
#custom-clipboard,
#temperature,
#memory,
#keyboard-state,
#backlight,
#pulseaudio,
#custom-power,
#power-profiles-daemon,
#disk,
#network,
#bluetooth,
#battery,
#clock,
#network {
  padding: 0px 15px 0px 0px;
  color: @light-beige;
}

#custom-power {
  color: @light-beige;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 600;
}

#keyboard-state label.locked {
  color: @light-beige;
}

#temperature.critical {
  color: @dusty-pink;
}

#clock {
  font-weight: 500;
}
#tray menu {
  color: @light-beige;
}
#tray > .active {
  color: @light-beige;
}
#tray > .passive {
  color: @gray;
}
#tray > .needs-attention {
  color: @dusty-pink;
}
