// Esta configuração está no formato KDL: https://kdl.dev
// "/-" comenta o nó seguinte.
// Consulte a wiki para descrição completa da configuração:
// https://yalter.github.io/niri/Configuration:-Introduction
